<div class="j-no-res-warn-cont">
  <div class="j-no-res-warn-icon-cont">
    <i class="icon j-icon-brainstorming j-no-res-warn-icon"></i>
  </div>
  <div class="j-no-res-warn-message-cont">
    <p class="j-no-res-warn-message-header">
      No insights available ... yet!
    </p>
    <div class="j-no-res-warn-message-txt">
      <p>
        Our digital brain does not know enough about you.
      </p>
      <p>
        Keep tracking and check back soon.
      </p>
    </div>
    <div layout="row" layout-align="center center">
      <div class="j-no-res-warn-button" ng-click="noResultsMessage.viewSample()">
        Check out a sample
      </div>
    </div>
  </div>
</div>
