<div class="j-no-res-warn-cont">
  <div class="j-no-res-warn-icon-cont">
    <i class="icon j-icon-no-search j-no-res-warn-icon"></i>
  </div>
  <div class="j-no-res-warn-message-cont">
    <p class="j-no-res-warn-message-header">
      No results
    </p>
    <div class="j-no-res-warn-message-txt">
      <p>
        Type a search term above to search the item library.
      </p>
      <p>
        If your item does not exist yet, click <b class="j-color-blue">New</b> to create it.
      </p>
    </div>
  </div>
</div>
