
<ion-content class="has-header has-footer j-grey-content-background">
  <div class="list">

    <label class="item item-input">
      <div layout="row" layout-align="center center" class="j-application-details">
          <span flex="55" class="item-label">
            Application Version
          </span>
          <div flex="45">
            0.0.8
          </div>
      </div>
    </label>

  </div>

</ion-content>


<ion-footer-bar class="j-button-footer"
                ng-click="applicationDetails.done()"
                layout="row" layout-align="center center">
  <div layout="row" layout-align="center center"
       class="j-button-cont j-button-cont-full j-button-cont-green" >
    <a class="icon-circle icon-circle-outline j-button-text">
      <i class="icon ion-edit j-button-icon"></i>
      Done
    </a>
  </div>
</ion-footer-bar>
