<div class="j-offline-warn-cont">
  <div class="j-offline-warn-icon-cont">
    <i class="icon j-icon-disconnected j-offline-warn-icon"></i>
  </div>
  <div class="j-offline-warn-message-cont">
    <p class="j-offline-warn-message-header">
      No Internet connection
    </p>
    <div class="j-offline-warn-message-txt">
      <p>
        This feature requires AWARE app to be online.
      </p>
      <p>
        Check your connection and try again.
      </p>
    </div>
    <div layout="row" layout-align="center center">
      <div class="j-offline-warn-button" ng-click="offlineMessage.tryAgain()">
        Try again
      </div>
    </div>
  </div>
</div>
