
<ion-content class="has-header">
  <div layout="row" layout-align="center center">
    <div flex="80" class="privacy-statement">
        <h4>ENLISENSE HEALTH RESEARCH STUDIES</h4>
        <p>This Privacy Policy summarizes the information we may collect or receive in connection with your use of any of our health research study Apps and participation in any of our healthcare research studies (each a “Study” and collectively “Studies”).</p>
        <h4>INFORMED CONSENT</h4>
        <p>To participate in any Studies, you must first review and sign an informed consent and authorization form (if applicable) ("Informed Consent") for the Study. By using this App, you consent to the collection, use, and sharing of your information as described in this Privacy Policy and as outlined in the Informed Consent. To the extent anything in this Privacy Policy conflicts with the Informed Consent, the terms of the Informed Consent will control. Throughout this policy we may use the term "Study Team" to refer to all the entities that may have access to data collected from or about you through the Apps or as part of the Studies. For all Studies the Informed Consent will include specific information about the members of the Study Team.</p>
        <h4>COLLECTION AND USE OF INFORMATION</h4>
        <p>Personal information is data that can be used to identify or contact a single person. Certain personal information and non-personal information, as described below, may be collected from or about you through the Apps or as part of the Studies. EnLiSense and its affiliates, and the other Study Team members, may share the information we collect through the App with each other and use it consistent with this Privacy Policy. If you decide to participate in the Study, below are examples of the types of information that we may collect and how we may use it.</p>
        <h4>WHAT INFORMATION WE COLLECT</h4>
        <p>When you download one of the Apps and enroll in one of the Studies, below are examples of the categories of information (which may include some personal information) that may be collected from or about you through the Apps ("Study Data"). The specific categories of information that will be collected about you as part of a Study will be described in the Informed Consent.</p>
        <ul class="privacy-statement-list">
            <li>Contact information such as your email address, and phone number.</li>
            <li>Demographic information, such as your age, gender, state of residence, and race.</li>
            <li>Medical history and information, such as your height/weight, current and prior medical diagnosis and
                testing, current and previous use of medications, certain family health history and health habits (e.g., smoking, food types and consumption, drinking, activities, etc.,). This information may be collected through in-app surveys or other health surveys that you may be asked to complete. The information you provide in the App is transferred to our servers when you synchronize the app or connect your smartphone to our wearable devices.</li>
            <li>Sensor information, such as heart rate, pulse O2 content, temperature, perspiration, and sweat biomarkers and calculations.</li>
            <li>Technical data, which in many cases is non-personal information, i.e., data in a form that does not, on its own, permit direct association with any specific individual. Technical data includes, for example, information about your app usage (e.g., when an App was first launched), app version and installation ID, device identifier, and technical data about your device, such as operating system and model.</li>
            <li>Adverse event information, such as a concern, adverse event, or other reportable matter arising in a Study.</li>
            <li>Other information, if any, described in the Informed Consent.</li>
        </ul>

        <p>Your Contact information will be separated from the rest of the data collected from you through the Apps and as part of the Studies and replaced with a random code ("Coded Study Data") before it is received on our systems. When EnLiSense acts as the study sponsor, it is obligated to put in place a process that could include the review of non-Coded Study Data as needed to comply with law in certain jurisdictions or to fulfill EnLiSenseʼs obligations as sponsor. Other entities involved in the Study, such as the Study principal investigator or other Study Team members, may maintain Study Data in an identifiable form.</p>
        <h4>HOW WE USE YOUR INFORMATION</h4>
        <p>Your personal information, such as your contact information, if collected through the App, may be used for purposes described in the Informed Consent including:</p>
        <ul class="privacy-statement-list">
            <li>To enroll you in the Study, including determining your eligibility for participation in the Study</li>
            <li>To conduct and support the Study</li>
            <li>To contact you with surveys or other messages related to the Study through in-app notifications, email,
                or otherwise</li>
        </ul>
        <p>Your Coded Study Data may be used for purposes described in the Informed Consent including:</p>
        <ul class="privacy-statement-list">
            <li>To conduct and support the Study</li>
            <li>To develop health-related products and improvement activities for other research studies, if permitted in
                the Informed Consent</li>
            <li>To issue research findings and related reports, which will not identify you</li>
        </ul>
        <p>Your technical data (as described above) may also be used to determine your eligibility for a Study and general usage of the Apps.</p>
        <h4>DISCLOSURE TO THIRD PARTIES</h4>
        <h5>SERVICE PROVIDERS</h5>
        <p>EnLiSense and the other Study Team members may share your information with companies who provide services for or on behalf of the Study such as the independent third-party institutional review board responsible for reviewing the Study and protecting your rights as a research participant, or third parties that have been hired to perform Study-related services, such as receiving and processing Study-related complaints, on our behalf. These companies are obligated to protect your information.</p>
        <h5>OTHERS</h5>
        <p>Your personal information and Coded Study Data may also be disclosed to the following third parties:</p>
        <ul class="privacy-statement-list">
            <li>Government and Regulatory authorities, such as the U.S. Department of Health and Human Services, the Food and Drug Administration, and other federal or state government agencies.</li>
            <li>Law enforcement or other third parties pursuant to valid legal process such as a subpoena, litigation or court order. We may also disclose information about you if we determine that for purposes of national security, or other issues of public importance, disclosure is necessary or appropriate.</li>
            <li>Other Approved Study Researchers, if permitted by the Informed Consent certain third-party researchers who are approved may access limited Study Data. The categories of approved study researchers, the type of Study Data they may have access to, and the purposes that they may use the data for will be described in more detail in the Informed Consent.</li>
            <li>Others, if we determine that disclosure is reasonably necessary to enforce our terms and conditions or protect our operations or users. We disclose information as described in the Informed Consent.</li>
            <li>Additionally, in the event of a reorganization, merger, or sale we may transfer any and all personal information we collect to the relevant third party.</li>
        </ul>
        <h4>PROTECTION OF YOUR INFORMATION</h4>
        <p>EnLiSense takes the security of your personal information very seriously. We have implemented reasonable measures to keep the Study Data it maintains safe, and to protect the confidentiality of your information, including storing it in systems with limited access housed in facilities using physical security measures. Despite our security measures, total confidentiality cannot be guaranteed.</p>
        <h4>RETENTION OF PERSONAL INFORMATION</h4>
        <p>Your participation in any Study is voluntary. You may decide not to participate or you may leave any Study at any time. If you decide to withdraw, we may not delete the information that we have already collected and we may continue to use it, but we will stop receiving any new Study Data about you and will stop contacting you about the Study except in the case of serious, actionable medical need. The specific retention policies and the steps you need to take to withdraw will be described in the Informed Consent for each Study.</p>
        <h4>CHILDREN</h4>
        <p>Our Apps are not intended for children under the age of 13 or equivalent minimum age in the relevant jurisdiction. If we learn that we have collected the personal information of a child under 13, we will take steps to delete the information as soon as possible.</p>
        <h4>OUR COMMITMENT TO YOUR PRIVACY</h4>
        <p>To make sure your personal information is secure, we communicate our privacy and security guidelines to our employees and strictly enforce privacy safeguards within the company.</p>
        <h4>PRIVACY QUESTIONS</h4>
        <p>If you have any questions or concerns about this Privacy Policy, please contact us at <a ng-click="privacyNotice.sendEmail()">PR@enlisense.com.</a> If you have questions about a Study, please contact a Study Team member using the contact information listed in the Informed Consent. To withdraw from the Study, please follow the specific instructions in the Informed Consent. Please note that deleting an App will not withdraw you from the Study.</p>
        <p>EnLiSense may update this Privacy Policy from time to time. If we change the policy in a material way, notice will be provided to you either in the App or through a Study-specific email along with the updated Privacy Policy. We may also provide a notice on any Study-specific website.</div>
    </div>
  </div>
  <div layout="row" layout-align="center center">
    <div flex="80">
      <button class="button button-small button-full button-positive privacy-statement-button" ng-click="privacyNotice.goBack()" >Go Back</button>
    </div>
  </div>
  </br>
</ion-content>
