
<ion-content layout="row" class="password-content" layout-align="center center" overflow-scroll="true">
  <div class="auth">
    <div class="container password-container" ng-class="{true: 'password-container-back'}[password.showloader === true]">
      <div class="list list-inset" ng-show="password.showloader === false">
        <h4 class="password-title">
          Reset Password
        </h4>
        <p class="password-subtitle">
          Enter your email so we can send you a reset link
        </p>
        <div class="item item-input item-input-gap">
          <input placeholder="Email" type="text" ng-model="password.credentials.email" required/>
        </div>
        <div class="password-already-user">
          <a ng-click="password.viewHandler('login',{})">Back to login</a>
        </div>
      </div>
      <button class="button button-small button-full button-positive password" ng-click="password.reset()" ng-disabled="password.resetForm.$invalid()" ng-show="password.showloader === false">Send Email</button>
      <div ng-show="password.error && password.showloader === false" class="message-error" layout="row" layout-fill layout-padding layout-margin>
        <p class="login-error-message">{{ password.error.reason | errorMessageFilter}}</p>
      </div>

      <div layout="row" layout-align="center center" ng-show="password.showloader === true">
        <img class="j-loader" ng-src="/img/loader.gif" />
      </div>
    </div>
  </div>

</ion-content>
