
<ion-content class="has-header j-grey-content-background profile-username-content" ng-class="{true: 'has-footer'}[profileUsername.connected]">
  <div class="list" ng-if="profileUsername.connected">
    <label class="item item-input">
      <span class="input-label">Current</span>
      <input type="text" ng-model="profileUsername.currentUsername" disabled>
    </label>
    <label class="item item-input">
      <span class="input-label">New</span>
      <input type="text" ng-model="profileUsername.newUsername">
    </label>
  </div>

  <div ng-if="!profileUsername.connected">
    <offline-message></offline-message>
  </div>
</ion-content>

<ion-footer-bar ng-if="profileUsername.connected" class="j-button-footer" ng-click="profileUsername.update()" layout="row" layout-align="center center">
  <div layout="row" layout-align="center center" class="j-button-cont j-button-cont-full j-button-cont-green" >
    <a class="icon-circle icon-circle-outline j-button-text">
      <i class="icon ion-edit j-button-icon"></i>
      Change
    </a>
  </div>
</ion-footer-bar>
