<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Journal Tab -->
  <ion-tab class="tab" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" ui-sref="journal()"></ion-tab>

  <!-- List Tab -->
  <ion-tab class="tab" icon-off="ion-ios-medical-outline" icon-on="ion-ios-medical" ui-sref="mySupport()"></ion-tab>

  <!-- Add Tab -->
  <!--item-add-tab></item-add-tab-->

  <ion-tab class="tab" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" ui-sref="home()"></ion-tab>

  <!-- Insights Tab -->
  <ion-tab class="tab" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse" ui-sref="report()"></ion-tab>

  <!-- More Tab -->
  <ion-tab class="tab" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" ui-sref="more()"></ion-tab>

</ion-tabs>
