
<ion-content class="has-header has-footer j-grey-content-background">
  <div class="list">

    <div class="item item-divider">
      Overall Impression
    </div>

    <label class="item item-input">
      <div layout="row" layout-align="center center" class="j-socialhist-item-cont ">
          <div flex="100" class="mobi-input">
            <input type="text"
                   ng-model="userFeedback.feedback.overallFeedback"
                   mobiscroll-scroller="userFeedback.overallFeedbackScrollerSettings"
                   mobiscroll-instance="overallFeedbackScrollerInstance" >
          </div>
      </div>
    </label>

    <div class="item item-divider">
      What Worked Well?
    </div>
    <ion-item class="item j-notes-cont">
      <textarea rows="5" ng-model="userFeedback.feedback.whatWorkedWell"></textarea>
    </ion-item>

    <div class="item item-divider">
      What Would You Like To See Improved?
    </div>
    <ion-item class="item j-notes-cont">
      <textarea rows="5" ng-model="userFeedback.feedback.wantSeeImproved"></textarea>
    </ion-item>

    <div class="user-feedback-box">
      If you would like to provide additional feedback, please email <a href = "mailto: pr@enlisense.com">pr@enlisense.com</a>
    </div>
  </div>

</ion-content>


<ion-footer-bar class="j-button-footer"
                ng-click="userFeedback.update()"
                layout="row" layout-align="center center">
  <div layout="row" layout-align="center center"
       class="j-button-cont j-button-cont-full j-button-cont-green" >
    <a class="icon-circle icon-circle-outline j-button-text">
      <i class="icon ion-edit j-button-icon"></i>
      Submit
    </a>
  </div>
</ion-footer-bar>
