
<div class="main-container">

  <div class="header" layout="row" layout-align="center center">
    <div flex="60" class="text-center">
      <img class="logo-image" src="img/logo_gray.png"></img>
    </div>
  </div>

  <div class="container" ng-if="!passwordReset.resetPasswordToken">
    <div layout="row" layout-align="center center">
      <div flex="80">
        <div flex="100">
          <h2 class="section-heading align-center">AWARE by Enlisense</h2>
        </div>
        <div flex="100">
          <p class="section-subheading align-center"><a class="other-title" >AWARE</a> is available on iphone devices! Download now to get started!</p>
        </div>
        <div flex="100" class="badges" layout="row" layout-align="center center" layout-wrap>
          <!--div flex-gt-sm="20" flex="100">
            <a class="badge-link" href="#"><img src="img/google-play-badge.svg" alt=""></a>
          </div-->
          <div flex-gt-sm="20" flex="100">
            <a class="badge-link" href="#"><img src="img/app-store-badge.svg" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div ng-if="passwordReset.resetPasswordToken">
    <div layout="row" layout-align="center center">
      <div flex-gt-sm="30" flex="80">
        <div class="register-container" ng-if="!passwordReset.complete">
          <div class="list list-inset list-inset-cont">
            <p class="register-title">
              Reset your password
            </p>
            <div class="item item-input item-input-gap">
              <input placeholder="Password" type="password" ng-model="passwordReset.credentials.password" required/>
            </div>
            <div class="item item-input item-input-gap" ng-class="{true: 'password-warning', false: 'password-warning-prep'}[passwordReset.credentials.password !== undefined && passwordReset.credentials.password !== passwordReset.credentials.password2ndEntry]">
              <input placeholder="Enter password again" type="password" ng-model="passwordReset.credentials.password2ndEntry" required/>
            </div>
          </div>
          <button class="button button-small button-full button-positive register" ng-click="passwordReset.credentials.password === passwordReset.credentials.password2ndEntry && passwordReset.reset()" >Reset</button>
          <!--button class="button button-small button-full button-positive register" ng-click="register.register()" aria-label="login" ng-disabled="register.registerForm.$invalid()">Register</button-->
          <div ng-show="passwordReset.error" class="message-error" layout="row" layout-fill layout-padding layout-margin>
            <p class="login-error-message">{{ passwordReset.error.reason }}</p>
          </div>
        </div>

        <div class="success-container" ng-if="passwordReset.complete">
          <div>
            <div class="list list-inset list-inset-cont"  layout="row" layout-align="center center">
              <p class="register-title-success">
                Password reset successfully
              </p>
            </div>
            <button class="button button-small button-full button-positive register" ng-click="passwordReset.home()" >Home</button>
          </div>
        </div>

      </div>
    </div>
  </div>

  <footer class="page-footer">
    <p>
      &copy; 2023 Enlisense, LLC. All Rights Reserved.
    </p>
  </footer>
</div>
