
<items-list current-date="journal.journalDateService.currentDate"></items-list>

<div class="journal-lines-cont">
  <hr class="journal-lines"/>
  <hr class="journal-lines"/>
  <hr class="journal-lines"/>
  <hr class="journal-lines"/>
  <hr class="journal-lines"/>
  <hr class="journal-lines"/>
  <hr class="journal-lines"/>
  <hr class="journal-lines"/>
  <hr class="journal-lines"/>
  <hr class="journal-lines"/>
  <hr class="journal-lines"/>
  <hr class="journal-lines"/>
  <hr class="journal-lines"/>
  <hr class="journal-lines"/>
  <hr class="journal-lines"/>
  <hr class="journal-lines"/>
</div>
